<% provide(:title, "Home") %>
<!-- /home/sf/rails_projects/2019_Oct_12_sample_app/app/views/static_pages/home.html.erb <p> -->
    simasf1@i.ua  simasf1

<!--Листинг 3.20. Представление для Home страницы с полной HTML структурой.<p>
истинг 3.27. Home страница с удаленной HTML структурой.
app/views/static_pages/home.html.erb <p>
Листинг 4.5. Home страница без кастомного заголовка страницы.
Листинг 5.2. Home страница со ссылкой на страницу регистрации.
app/views/static_pages/home.html.erb
Листинг 5.37. Добавление ссылки к кнопке Signup.
app/views/static_pages/home.html.erb -->

<!--Листинг 10.28. Добавление создания микросообщений к Home странице (/). -->

<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      
          <section>
                  <%= render 'shared/user_info' %>
          </section>

          <section>
                  <%= render 'shared/stats' %>
          </section>

      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
  </div>
#Листинг 10.41. Добавление потока микросообщений к Home странице.
#app/views/static_pages/home.html.erb 
<div class="span8">
      <h3>Micropost Feed at /home</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>


<% else %>
  <div class="center hero-unit">
<!--    <h1>Welcome to </h1>
<h2>the Sample App October-12</h2> -->

<h1> Welcome to the lectures! <p><h1>
<h2> /home/sf/rails_projects/2019_Oct_12_sample_app</h2>

    <h2>
      This is the home page for the
home/sf/rails_projects/2019_Oct_12_sample_app/app/views/static_pages/home.html.erb
<!--      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>sample application.  -->
      
    </h2>

    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>

  <%= link_to image_tag("241084701.gif", alt: "logo") %>
<% end %>









