#Листинг 10.39. Партиал потока сообщений.
#app/views/shared/_feed.html.erb 
#Листинг 10.40. Партиал для отдельно взятого элемента потока сообщений. app/views/shared/_feed_item.html.erb
#Листинг 10.44. Партиал элемента потока микросообщений с добавленной ссылкой на удаление. app/views/shared/_feed_item.html.erb !!!11.46 New 2017 

<% if @feed_items.any? %>
  <ol class="microposts">
    <%= render partial: 'shared/feed_item', collection: @feed_items %>
  </ol>
  <%= will_paginate @feed_items %>
<% end %>

